* {
    margin: 0;
}
.grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas:
    'header header header'
    'left-aside main right-aside'
    'footer footer footer';
}

header {
    grid-area: header;
    background-color: #D1EF53;
}
.left-aside {
    grid-area: left-aside;
    background-color: rgba(40, 38, 38, 0.5);
}
.right-aside {
    grid-area: right-aside;
    background-color: rgba(40, 38, 38, 0.5);
}

main {
    grid-area: main;
    background-color: rgb(148, 159, 217);
}
footer {
    grid-area: footer;
    background-color: #D1EF53;
}

