
.item {
    background-color: lightcoral;
    width: 200px;
    height: 200px;
    /*position: static;*/
    position: relative;
    /*top: 100px;*/
    /*top: -100px;*/
    /*bottom: 100px;*/
    /*bottom: -100px;*/
    z-index: -1;
    /*left: -100px;*/
    /*left: 100px;*/
    /*right: -100px;*/
    right: 100px;
}